openapi: 3.1.0
info:
  title: NimbusDB API
  version: 1.0.0-phase1
  description: |
    Control-plane REST API for the NimbusDB serverless PostgreSQL platform.
    Spec-first contract (ADR-012): handlers and clients are generated/validated from this file.
    Phase 1 surface: bootstrap, orgs, members, API keys, project records, audit log.
    Data-plane resources (branches, endpoints, backups, imports) arrive in Phase 2+ per
    docs/architecture/API_SPECIFICATION.md.
servers:
  - url: https://api.db.nimbus.app/v1
  - url: http://localhost:8080/v1
    description: Local development

security:
  - apiKey: []

tags:
  - name: system
  - name: orgs
  - name: api-keys
  - name: projects
  - name: branches
  - name: imports
  - name: audit

paths:
  /healthz:
    get:
      tags: [system]
      operationId: getHealth
      security: []
      summary: Liveness/readiness probe
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, const: ok }
                  version: { type: string }
                required: [status]

  /bootstrap:
    post:
      tags: [system]
      operationId: bootstrap
      security: []
      summary: One-time platform bootstrap (ADR-013)
      description: |
        Creates the initial user, organization, and owner API key. Requires the
        `NDB_BOOTSTRAP_TOKEN` configured on the server and succeeds only while no
        organization exists. The returned API key is shown exactly once.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bootstrap_token: { type: string }
                email: { type: string, format: email }
                name: { type: string }
                org_name: { type: string }
              required: [bootstrap_token, email, org_name]
      responses:
        "201":
          description: Platform bootstrapped
          content:
            application/json:
              schema:
                type: object
                properties:
                  org: { $ref: "#/components/schemas/Org" }
                  user: { $ref: "#/components/schemas/User" }
                  api_key: { $ref: "#/components/schemas/ApiKeyWithSecret" }
                required: [org, user, api_key]
        "403": { $ref: "#/components/responses/Problem" }
        "409":
          description: Platform already bootstrapped
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /orgs:
    get:
      tags: [orgs]
      operationId: listOrgs
      summary: List organizations visible to the caller's key
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Org" }
                  next_cursor: { type: [string, "null"] }
                required: [data]

  /orgs/{org}:
    parameters:
      - $ref: "#/components/parameters/org"
    get:
      tags: [orgs]
      operationId: getOrg
      summary: Get an organization
      responses:
        "200":
          description: Organization
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Org" }
        "404": { $ref: "#/components/responses/Problem" }
    patch:
      tags: [orgs]
      operationId: updateOrg
      summary: Update an organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
      responses:
        "200":
          description: Updated organization
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Org" }
        "404": { $ref: "#/components/responses/Problem" }

  /orgs/{org}/members:
    parameters:
      - $ref: "#/components/parameters/org"
    get:
      tags: [orgs]
      operationId: listMembers
      summary: List organization members
      responses:
        "200":
          description: Members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Member" }
                required: [data]
    post:
      tags: [orgs]
      operationId: addMember
      summary: Add an organization member
      description: Adds (or invites, once console auth exists in Phase 3) a member by email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                name: { type: string, description: Display name used if the user record is created by this call }
                role: { $ref: "#/components/schemas/OrgRole" }
              required: [email, role]
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Member" }
        "409": { $ref: "#/components/responses/Problem" }

  /orgs/{org}/members/{user}:
    parameters:
      - $ref: "#/components/parameters/org"
      - name: user
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [orgs]
      operationId: updateMemberRole
      summary: Change a member's role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role: { $ref: "#/components/schemas/OrgRole" }
              required: [role]
      responses:
        "200":
          description: Updated member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Member" }
        "409":
          description: Would remove the last owner
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [orgs]
      operationId: removeMember
      summary: Remove an organization member
      responses:
        "204": { description: Removed }
        "409":
          description: Would remove the last owner
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /orgs/{org}/api-keys:
    parameters:
      - $ref: "#/components/parameters/org"
    get:
      tags: [api-keys]
      operationId: listApiKeys
      summary: List API keys
      responses:
        "200":
          description: API keys (metadata only; secrets are never re-shown)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ApiKey" }
                required: [data]
    post:
      tags: [api-keys]
      operationId: createApiKey
      summary: Create an API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                scopes:
                  type: array
                  items: { $ref: "#/components/schemas/Scope" }
                  minItems: 1
                expires_at: { type: [string, "null"], format: date-time }
              required: [name, scopes]
      responses:
        "201":
          description: Created key — secret shown exactly once
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKeyWithSecret" }

  /orgs/{org}/api-keys/{key}:
    parameters:
      - $ref: "#/components/parameters/org"
      - name: key
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [api-keys]
      operationId: revokeApiKey
      summary: Revoke an API key
      responses:
        "204": { description: Revoked }
        "404": { $ref: "#/components/responses/Problem" }

  /orgs/{org}/audit-log:
    parameters:
      - $ref: "#/components/parameters/org"
    get:
      tags: [audit]
      operationId: listAuditLog
      summary: List audit-log entries
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Audit entries, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AuditEntry" }
                  next_cursor: { type: [string, "null"] }
                required: [data]

  /projects:
    get:
      tags: [projects]
      operationId: listProjects
      summary: List projects
      parameters:
        - name: org
          in: query
          required: false
          schema: { type: string }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
                  next_cursor: { type: [string, "null"] }
                required: [data]
    post:
      tags: [projects]
      operationId: createProject
      summary: Create a project
      description: |
        Phase 1: creates the project *record* (state `pending`); data-plane provisioning
        attaches in Phase 2 via the reconciler.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org_id: { type: string }
                name: { type: string, minLength: 1, maxLength: 120 }
                region: { type: string, enum: [syd1], default: syd1 }
                pg_version: { type: integer, enum: [16, 17], default: 17 }
              required: [org_id, name]
      responses:
        "201":
          description: |
            Created project with its seeded owner role and database on the
            default branch. The role password is returned exactly once.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectCreated" }
        "409": { $ref: "#/components/responses/Problem" }

  /projects/{prj}:
    parameters:
      - name: prj
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [projects]
      operationId: getProject
      summary: Get a project
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
        "404": { $ref: "#/components/responses/Problem" }
    patch:
      tags: [projects]
      operationId: updateProject
      summary: Update a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
      responses:
        "200":
          description: Updated project
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
    delete:
      tags: [projects]
      operationId: deleteProject
      summary: Delete a project
      responses:
        "204": { description: Deleted (soft; lifecycle per MULTI_TENANCY §5) }
        "404": { $ref: "#/components/responses/Problem" }

  /projects/{prj}/connection-uri:
    parameters:
      - name: prj
        in: path
        required: true
        schema: { type: string }
      - name: branch
        in: query
        schema: { type: string }
      - name: endpoint
        in: query
        schema: { type: string, enum: [rw_pooled, rw_direct, ro_pooled], default: rw_pooled }
      - name: role
        in: query
        schema: { type: string }
      - name: database
        in: query
        schema: { type: string }
      - name: reveal
        in: query
        schema: { type: boolean, default: false }
        description: Requires `roles:write`; every reveal is audit-logged.
    get:
      tags: [projects]
      operationId: getConnectionUri
      summary: Assemble a connection string (masked by default)
      responses:
        "200":
          description: Connection URI (never cached)
          content:
            application/json:
              schema:
                type: object
                properties:
                  uri: { type: string }
                  endpoint: { type: string }
                  branch_id: { type: string }
                  role: { type: string }
                  database: { type: string }
                  revealed: { type: boolean }
                required: [uri, endpoint, branch_id, role, database, revealed]
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

  /projects/{prj}/branches:
    parameters:
      - name: prj
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [branches]
      operationId: listBranches
      summary: List branches of a project
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Branches (endpoints omitted; fetch a branch for them)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Branch" }
                  next_cursor: { type: [string, "null"] }
                required: [data]
        "404": { $ref: "#/components/responses/Problem" }
    post:
      tags: [branches]
      operationId: createBranch
      summary: Create a branch
      description: |
        Creates a branch with its rw_direct + rw_pooled endpoints in
        `provisioning` state. A branch is a **data fork** of `from_branch`
        (defaults to the project's default branch): the reconciler bootstraps its
        cluster by recovery from the parent's WAL archive. `at` (RFC3339) forks
        from that point in time instead of the parent's latest state; it requires
        `from_branch` and must fall within the parent's backup retention window.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 63 }
                from_branch: { type: [string, "null"] }
                at: { type: string, format: date-time, description: "Point-in-time fork target (RFC3339); requires from_branch." }
                role: { $ref: "#/components/schemas/BranchRole" }
                compute_min_cu: { type: number, minimum: 0.25, maximum: 8 }
                compute_max_cu: { type: number, minimum: 0.25, maximum: 8 }
                suspend_timeout_s: { type: integer, minimum: 0, maximum: 86400 }
              required: [name]
      responses:
        "201":
          description: Created branch (with endpoints)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

  /branches/{br}:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [branches]
      operationId: getBranch
      summary: Get a branch with its endpoints
      responses:
        "200":
          description: Branch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "404": { $ref: "#/components/responses/Problem" }
    patch:
      tags: [branches]
      operationId: updateBranch
      summary: Update branch settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 63 }
                compute_min_cu: { type: number, minimum: 0.25, maximum: 8 }
                compute_max_cu: { type: number, minimum: 0.25, maximum: 8 }
                suspend_timeout_s: { type: integer, minimum: 0, maximum: 86400 }
                retention_days: { type: integer, minimum: 1, maximum: 30 }
      responses:
        "200":
          description: Updated branch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
    delete:
      tags: [branches]
      operationId: deleteBranch
      summary: Delete a branch
      responses:
        "204": { description: Deleted }
        "404": { $ref: "#/components/responses/Problem" }
        "409":
          description: Default branch is delete-protected
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /branches/{br}/suspend:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [branches]
      operationId: suspendBranch
      summary: Suspend a branch's compute (scale-to-zero)
      description: >
        Flips a ready branch to `suspending`; the reconciler then hibernates the
        compute and marks it `suspended`. Idempotent — suspending an
        already-suspending/suspended branch is a no-op success. A branch that is
        provisioning/deleting/error returns 409.
      responses:
        "200":
          description: Branch (now suspending or already suspended)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

  /branches/{br}/resume:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [branches]
      operationId: resumeBranch
      summary: Resume (wake) a suspended branch's compute
      description: >
        Flips a suspended branch to `resuming`; the reconciler un-hibernates the
        compute and marks it `ready`. This is also the wake-on-connect trigger
        the gateway calls (ADR-014); it is idempotent and coalesced, so a
        connection storm produces at most one wake.
      responses:
        "200":
          description: Branch (now resuming or already ready)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

  /branches/{br}/resize:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [branches]
      operationId: resizeBranch
      summary: Vertically resize a branch's compute
      description: >
        Sets the branch's running compute size (`current_cu`), clamped to its
        `min_cu`/`max_cu` bounds, and flips it `ready → resizing`; the reconciler
        re-applies the cluster at the new size (zero-downtime, replica-first on
        HA) and flips it back to `ready`. This is also the action a metrics-driven
        autoscaler drives. 409 if the branch is not in a resizable state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cu: { type: number, minimum: 0.25, maximum: 8 }
              required: [cu]
      responses:
        "200":
          description: Branch (now resizing or already at size)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

  /projects/{prj}/imports:
    parameters:
      - name: prj
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [imports]
      operationId: listImports
      summary: List imports for a project
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Imports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Import" }
                  next_cursor: { type: [string, "null"] }
                required: [data]
        "404": { $ref: "#/components/responses/Problem" }
    post:
      tags: [imports]
      operationId: createImport
      summary: Start a database import
      description: |
        The source connection URL is envelope-encrypted at rest and never
        returned by any read path. Runner workers drive the state machine via
        PATCH /imports/{imp}/state; cutover is a separate human gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_kind:
                  type: string
                  enum: [neon, supabase, rds, azure, generic]
                mode:
                  type: string
                  enum: [dump_restore, logical_replication]
                source_url:
                  type: string
                  description: postgres:// URL of the source (write-only).
                target_branch: { type: [string, "null"] }
              required: [source_kind, mode, source_url]
      responses:
        "201":
          description: Created import (state pending)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Import" }
        "404": { $ref: "#/components/responses/Problem" }

  /imports/{imp}:
    parameters:
      - name: imp
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [imports]
      operationId: getImport
      summary: Get an import
      responses:
        "200":
          description: Import
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Import" }
        "404": { $ref: "#/components/responses/Problem" }

  /imports/{imp}/cutover:
    parameters:
      - name: imp
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [imports]
      operationId: cutoverImport
      summary: Execute cutover (only from cutover_ready)
      responses:
        "200":
          description: Import now cut_over
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Import" }
        "409": { $ref: "#/components/responses/Problem" }

  /imports/{imp}/abort:
    parameters:
      - name: imp
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [imports]
      operationId: abortImport
      summary: Abort an import (any non-terminal state except cut_over)
      responses:
        "200":
          description: Import aborted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Import" }
        "409": { $ref: "#/components/responses/Problem" }

  /imports/{imp}/state:
    parameters:
      - name: imp
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [imports]
      operationId: updateImportState
      summary: Advance the import state machine (runner-facing)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state: { $ref: "#/components/schemas/ImportState" }
                report: { type: object, additionalProperties: true }
                checkpoints: { type: object, additionalProperties: true }
                error: { type: [string, "null"] }
              required: [state]
      responses:
        "200":
          description: Updated import
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Import" }
        "409":
          description: Illegal transition
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /branches/{br}/roles:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [branches]
      operationId: listDbRoles
      summary: List database roles
      responses:
        "200":
          description: Roles (never includes secret material)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DBRole" }
                required: [data]
        "404": { $ref: "#/components/responses/Problem" }
    post:
      tags: [branches]
      operationId: createDbRole
      summary: Create a database role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: "^[a-z_][a-z0-9_]{0,62}$"
              required: [name]
      responses:
        "201":
          description: Created role — password shown exactly once
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DBRoleWithPassword" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

  /branches/{br}/roles/{role}:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
      - name: role
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [branches]
      operationId: deleteDbRole
      summary: Delete a database role
      responses:
        "204": { description: Deleted }
        "404": { $ref: "#/components/responses/Problem" }
        "409":
          description: Role owns a database
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /branches/{br}/roles/{role}/reset-password:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
      - name: role
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [branches]
      operationId: resetDbRolePassword
      summary: Reset a role's password
      responses:
        "200":
          description: New password — shown exactly once
          content:
            application/json:
              schema:
                type: object
                properties:
                  name: { type: string }
                  password: { type: string }
                required: [name, password]
        "404": { $ref: "#/components/responses/Problem" }

  /branches/{br}/databases:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [branches]
      operationId: listDatabases
      summary: List databases
      responses:
        "200":
          description: Databases
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Database" }
                required: [data]
        "404": { $ref: "#/components/responses/Problem" }
    post:
      tags: [branches]
      operationId: createDatabase
      summary: Create a database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: "^[a-z_][a-z0-9_]{0,62}$"
                owner_role: { type: string }
              required: [name, owner_role]
      responses:
        "201":
          description: Created database
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Database" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

  /branches/{br}/databases/{db}:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
      - name: db
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [branches]
      operationId: deleteDatabase
      summary: Delete a database
      responses:
        "204": { description: Deleted }
        "404": { $ref: "#/components/responses/Problem" }

  /branches/{br}/endpoints:
    parameters:
      - name: br
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [branches]
      operationId: listEndpoints
      summary: List a branch's endpoints
      responses:
        "200":
          description: Endpoints
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Endpoint" }
                required: [data]
        "404": { $ref: "#/components/responses/Problem" }
    post:
      tags: [branches]
      operationId: createEndpoint
      summary: Add an endpoint to a branch (e.g. a read replica)
      description: >
        Adds an endpoint of the given kind. `ro_pooled` provisions a read replica:
        the reconciler scales the branch's cluster to a primary + hot-standby and
        fronts the replicas with a read pooler. The new endpoint starts
        `provisioning` and becomes `ready` once its backing resources are up. 409
        if an endpoint of that kind already exists (branches ship with
        `rw_direct` + `rw_pooled`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind: { type: string, enum: [rw_direct, rw_pooled, ro_pooled] }
              required: [kind]
      responses:
        "201":
          description: Created endpoint
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Endpoint" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: "ndb_<64 hex chars>"

  parameters:
    org:
      name: org
      in: path
      required: true
      schema: { type: string }
      description: Organization ID (`org_…`)
    limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    cursor:
      name: cursor
      in: query
      schema: { type: string }

  responses:
    Problem:
      description: Error (RFC 9457)
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

  schemas:
    Problem:
      type: object
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        request_id: { type: string }
      required: [title, status]

    OrgRole:
      type: string
      enum: [owner, admin, member, viewer]

    Scope:
      type: string
      enum:
        - orgs:read
        - orgs:write
        - members:manage
        - projects:read
        - projects:write
        - projects:provision
        - branches:read
        - branches:write
        - endpoints:read
        - roles:read
        - roles:write
        - backups:read
        - backups:write
        - restores:write
        - imports:read
        - imports:write
        - metrics:read
        - audit:read
        - keys:manage
        - webhooks:manage
        - usage:read

    Org:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        plan: { type: string, enum: [free, pro] }
        created_at: { type: string, format: date-time }
      required: [id, name, slug, plan, created_at]

    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string, format: email }
        name: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
      required: [id, email, created_at]

    Member:
      type: object
      properties:
        org_id: { type: string }
        user: { $ref: "#/components/schemas/User" }
        role: { $ref: "#/components/schemas/OrgRole" }
        added_at: { type: string, format: date-time }
      required: [org_id, user, role, added_at]

    ApiKey:
      type: object
      properties:
        id: { type: string }
        org_id: { type: string }
        name: { type: string }
        prefix:
          type: string
          description: First 12 characters of the token, for identification.
        scopes:
          type: array
          items: { $ref: "#/components/schemas/Scope" }
        last_used_at: { type: [string, "null"], format: date-time }
        expires_at: { type: [string, "null"], format: date-time }
        revoked_at: { type: [string, "null"], format: date-time }
        created_at: { type: string, format: date-time }
      required: [id, org_id, name, prefix, scopes, created_at]

    ApiKeyWithSecret:
      allOf:
        - $ref: "#/components/schemas/ApiKey"
        - type: object
          properties:
            token:
              type: string
              description: Full secret token. Returned exactly once; store it now.
          required: [token]

    Project:
      type: object
      properties:
        id: { type: string }
        org_id: { type: string }
        name: { type: string }
        slug: { type: string }
        region: { type: string }
        pg_version: { type: integer }
        state:
          type: string
          enum: [pending, provisioning, ready, error, deleting]
          description: Phase 1 records stay `pending`; the Phase 2 reconciler drives the rest.
        default_branch_id: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
      required: [id, org_id, name, slug, region, pg_version, state, default_branch_id, created_at]

    BranchRole:
      type: string
      enum: [production, preview, development]

    ResourceState:
      type: string
      description: >
        Lifecycle/compute state shared by branches and endpoints. `suspending`
        and `resuming` are transient scale-to-zero states the reconciler
        converges (ADR-014).
      enum: [provisioning, ready, suspending, suspended, resuming, error, deleting]

    Compute:
      type: object
      properties:
        min_cu: { type: number }
        max_cu: { type: number }
        current_cu: { type: number, description: "Actual running size, autoscaled between min_cu and max_cu (0 before the first resize)." }
        suspend_timeout_s: { type: integer }
      required: [min_cu, max_cu, suspend_timeout_s]

    Branch:
      type: object
      properties:
        id: { type: string }
        project_id: { type: string }
        parent: { type: [string, "null"] }
        name: { type: string }
        role: { $ref: "#/components/schemas/BranchRole" }
        state: { $ref: "#/components/schemas/ResourceState" }
        compute: { $ref: "#/components/schemas/Compute" }
        retention_days: { type: integer }
        bootstrap_at:
          type: [string, "null"]
          format: date-time
          description: Point-in-time this branch was forked from its parent; null if forked from the latest state or a root branch.
        created_at: { type: string, format: date-time }
        endpoints:
          type: array
          description: Present on single-branch reads and creation responses.
          items: { $ref: "#/components/schemas/Endpoint" }
      required: [id, project_id, parent, name, role, state, compute, retention_days, created_at]

    Endpoint:
      type: object
      properties:
        id: { type: string }
        branch_id: { type: string }
        kind:
          type: string
          enum: [rw_direct, rw_pooled, ro_pooled]
        host: { type: string }
        state: { $ref: "#/components/schemas/ResourceState" }
        created_at: { type: string, format: date-time }
      required: [id, branch_id, kind, host, state, created_at]

    DBRole:
      type: object
      properties:
        id: { type: string }
        branch_id: { type: string }
        name: { type: string }
        created_at: { type: string, format: date-time }
      required: [id, branch_id, name, created_at]

    DBRoleWithPassword:
      allOf:
        - $ref: "#/components/schemas/DBRole"
        - type: object
          properties:
            password:
              type: string
              description: Returned exactly once; store it now.
          required: [password]

    Database:
      type: object
      properties:
        id: { type: string }
        branch_id: { type: string }
        name: { type: string }
        owner_role_id: { type: string }
        created_at: { type: string, format: date-time }
      required: [id, branch_id, name, owner_role_id, created_at]

    ProjectCreated:
      type: object
      properties:
        project: { $ref: "#/components/schemas/Project" }
        owner_role:
          type: object
          properties:
            name: { type: string }
            password:
              type: string
              description: Returned exactly once.
          required: [name, password]
        database:
          type: object
          properties:
            name: { type: string }
          required: [name]
      required: [project, owner_role, database]

    ImportState:
      type: string
      enum: [pending, preflight, schema_copy, initial_copy, live_sync,
             cutover_ready, cut_over, verified, failed, aborted]

    Import:
      type: object
      properties:
        id: { type: string }
        project_id: { type: string }
        target_branch_id: { type: [string, "null"] }
        source_kind:
          type: string
          enum: [neon, supabase, rds, azure, generic]
        mode:
          type: string
          enum: [dump_restore, logical_replication]
        state: { $ref: "#/components/schemas/ImportState" }
        report:
          type: object
          additionalProperties: true
          description: Preflight report (set once preflight completes).
        checkpoints:
          type: object
          additionalProperties: true
          description: Progress markers merged across transitions.
        error: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
      required: [id, project_id, target_branch_id, source_kind, mode, state, error, created_at, updated_at]

    AuditEntry:
      type: object
      properties:
        id: { type: string }
        org_id: { type: string }
        actor_type: { type: string, enum: [api_key, user, system] }
        actor_id: { type: string }
        action: { type: string, description: "e.g. project.create, api_key.revoke" }
        target_type: { type: string }
        target_id: { type: string }
        ip: { type: [string, "null"] }
        at: { type: string, format: date-time }
        details: { type: [object, "null"], additionalProperties: true }
      required: [id, org_id, actor_type, actor_id, action, target_type, target_id, at]
